<div class="pantalla" id="favoritasScreen">
    <header>
        <div class="leftHeader">
            <button (click)="cambiarPantalla()"><mat-icon>chevron_left</mat-icon></button>
            <a> {{ title }} </a>
        </div>
        <div class="rightHeader">
            <mat-icon class="userIcon" *ngIf="!getUsuario().foto" (click)="this.router.navigate(['perfil']);">account_circle</mat-icon>
            <img *ngIf="getUsuario().foto" src="{{ getUsuario().foto }}" alt="Foto de perfil" (click)="this.router.navigate(['perfil']);">
        </div>
    </header>

    <div class="content">
        <!--Show the content when not editing-->
        <div class="paradas" *ngIf="!editing">
            <div class="topInfo">
                <button class="star"><mat-icon>star</mat-icon></button>
                <h2>Paradas Favoritas</h2>
                <p class="textgris">Tenga acceso a unas serie de paradas rápidamente añadiéndolas a la pantalla de inicio.</p>
            </div>

            <div class="paradasFav">
                <div class="caja" *ngFor="let parada of getFavoritas(); let i=index">
                    <div class="leftPart">
                        <h3>{{ parada.nombre }}</h3>
                    </div>
                    <div class="rightPart">
                        <button class="linea {{parada.lineas[0].id}}">{{ parada.lineas[0].id }}</button>
                    </div>
                </div>
            </div>

            <div class="editFavButton">
                <button class="botonSecundario" (click)="editing=true">Editar Favoritos</button>
            </div>
        </div>

        <!--Show the content when editing-->
        <div class="paradas" *ngIf="editing">
            <div class="topInfo">
                <button class="star"><mat-icon>star</mat-icon></button>
                <h2>Editar Paradas Favoritas</h2>
                <p class="textgris">Modifique las paradas favoritas añadiendo nuevas o eliminando las ya existentes.</p>
            </div>

            <div class="paradasFav">
                <div class="caja" *ngFor="let parada of getFavoritas(); let i=index">
                    <div class="leftPart">
                        <h3>{{ parada.nombre }}</h3>
                    </div>
                    <div class="rightPart">
                        <mat-icon class="delete" (click)="borrarParada(parada)">delete</mat-icon>
                    </div>
                </div>
            </div>

            <div class="nuevaParadaFav">
                <div class="topInfo">
                    <button class="star"><mat-icon>star</mat-icon></button>
                    <h2>Añadir a favoritos</h2>
                </div>
                <div id="busqueda">
                    <div class="caja">
                        <input [(ngModel)]="search_texto" type="text" id="search" name="search" placeholder="Introduce una parada">
                        <mat-icon>search</mat-icon>
                    </div>
                </div>

                <div id="mostrarParadas" class="caja">
                    <div *ngFor="let parada of getData(); let i=index" (click)="(search_texto=parada.nombre.toString()) && (seleccionada=parada)">
                        <div class="sugerencia">
                            <p>{{ parada.nombre }}</p>
                            <mat-icon>chevron_right</mat-icon>
                        </div>
                        <hr>
                    </div>
                </div>

            </div>

            <div class="editFavButton">
                <button class="botonSecundario" (click)="anadirParada(seleccionada)">Añadir a Favoritos</button>
            </div>
        </div>

    </div>
    <footer>
        <button class=" butlateral icon " (click)="this.router.navigate([ 'inicio']); "><mat-icon>home</mat-icon></button>
        <button class="icon " (click)="this.router.navigate([ 'trayecto']); "><mat-icon class="pink ">search</mat-icon></button>
        <button class="butlateral icon " (click)=" this.router.navigate([ 'mapa']); "><mat-icon>map</mat-icon></button>
    </footer>
</div>