<div class="pantalla" id="loginScreen">
    <div class="content">
        <img src="../assets/images/metrologo.png" alt="Logo de la aplicación">
        <div class="accessButtons">
            <button id="mainMethod" class="botonPrincipal" (click)="this.router.navigate(['inicio']);">Sign in with Email</button>
            <div class="accessButtonsSecondary">
                <button class="botonPrincipal" (click)="this.router.navigate(['inicio']);">Google</button>
                <button class="botonPrincipal" (click)="this.router.navigate(['inicio']);">Apple ID</button>
            </div>
        </div>
        
    </div>
    <footer class="textgris">By Continuing you agree the Terms and Conditions</footer>
</div>